{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <!-- <h1>Main headline</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }} 
    </p> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 col-xl-2"> </div>
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <p>
      Arg! <a href="detail-page.html">Pirate Details</a> – Read a real life pirate's story here! Pirates of the Caribbean is my favorite movie. Also go Pittsburgh Pirates: Five time World Series Champions!
    </p>
      <ul> 
        {% for entry in entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
     </ul>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 col-xl-2"> </div>
  </div>
</div>
{% endblock %}
